{% extends 'base.html' %}

{% block content %}

<h1>Check Ou</h1>
<h3>Congratulations! Your new tutor is {{ tutor }}.</h3>
<p>You have successfully scheduled a session with them:</p>
<p>{{  time }}</p>
<ul>

</ul>
<p>Each session is one hour long at $35/hour. You will not be charged until your first session occurs, but please click the button below to add your payment information.</p>

<form action="/checkout/" method="POST">
  {% csrf_token %}
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_8Jnu95zMXVXmMI5Hf5o071wC"
    data-amount="999"
    data-name="Demo Site"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>

</form>


{% endblock %}
